<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Xin_Browser.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <Xin_Browser.My.MySettings>
            <setting name="Favourites" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="History" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="Downloads" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="SearchEngineName" serializeAs="String">
                <value>Google</value>
            </setting>
            <setting name="SearchEngineUrl" serializeAs="String">
                <value>http://www.google.fr/search?q=</value>
            </setting>
            <setting name="HomeUrl" serializeAs="String">
                <value>http://www.google.fr/</value>
            </setting>
            <setting name="NewTabSet" serializeAs="String">
                <value>optn:home</value>
            </setting>
            <setting name="OpenAppTabSet" serializeAs="String">
                <value>optn:searchpage</value>
            </setting>
            <setting name="appbackgroundstyle" serializeAs="String">
                <value>optn:fillgradient</value>
            </setting>
            <setting name="appbackgroundcolor1" serializeAs="String">
                <value>ControlDark</value>
            </setting>
            <setting name="appbackgroundcolor2" serializeAs="String">
                <value>ControlDarkDark</value>
            </setting>
            <setting name="AskForSavingDownloads" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownloadsPlace" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableBetaUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrentTheme" serializeAs="String">
                <value>xinbrowser</value>
            </setting>
            <setting name="JsPopUpBlockedPage" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="Optn_LocalFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Optn_Clipboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Optn_Scripts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Optn_Javascript" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Optn_Insecure" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Optn_Cache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Optn_Cookies" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Optn_GPU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Optn_BetaUpdate" serializeAs="String">
                <value>True</value>
            </setting>
        </Xin_Browser.My.MySettings>
    </userSettings>
</configuration>
