html{
	height: 100%;
}

body{
	margin: 0px;
	padding: 0px;	
}

h1{
	font :  3em "Trebuchet MS";
	color: white;
	font-weight: bold;
}

h2{
	font :  2.5em "Trebuchet MS";
	color: white;
	font-weight: bold;
    text-decoration: underline;
}

p{
	color: #FD9600;
	font :  1.5em "Trebuchet MS";
}

ul#menu_horizontal { 
	position: fixed;
	bottom: 0px;
	width: 100%;
    padding : 0;
    margin: auto;
    background-color: rgba(80, 80, 80, 0.6);
    list-style-type : none; 
    text-align: center;
    border-left: 1px solid black;  
    z-index: 5;

}
 
ul#menu_horizontal li {
    padding : 0 0.5em;  
    line-height : 30px;
    border-right : 1px solid black;
    border-left : 1px solid black;    
}
 
ul#menu_horizontal li.bouton_gauche {
    display: inline-block;   
}
 
ul#menu_horizontal li.bouton_droite {
    float : right;      
}
 
ul#menu_horizontal a {
    color : #FD9600;
    text-decoration : none;
    
    font :  1.2em "Trebuchet MS";
}
 
ul#menu_horizontal a:hover {
	color: red;
    text-decoration : underline; 
}

ul#menu { 
	display: block;	
	width: 11%;
	right: 0%;
	position: fixed;
	background-color: rgba(80, 80, 80, 0.6);
    padding-left: 1%;
    height: 100%;
    padding : 5px;
    margin: auto;
    list-style-type : none; 
    text-align: center;
    border-radius: 40px 0px 0px 40px;
    z-index: 5;
        
}
 
ul#menu li {
    padding : 0 0.5em;  
    line-height : 30px;   
}
 
ul#menu li.bouton_gauche {
    display: inline-block;   
}
 
ul#menu li.bouton_droite {
    float : right;      
}
 
ul#menu a {
    color : #FD9600;
    text-decoration : none;
    
    font :  1.2em "Trebuchet MS";
}
 
ul#menu a:hover {
	color: red;
    text-decoration : underline; 
}
 



article{
	display: block;	
	width: 85%;
	border-radius: 5px;
	margin-bottom: 30px;	
	float: left;	
	
}



#parametres{
	background-color: rgba(80, 80, 80, 0.6);
	display: block;
    padding-left: 20px;
    display: inline-block;
    margin-top: 40px;
	width: 100%;	
	border-radius: 0px 40px 40px 0px;
	position: relative;
    z-index:4;
	  
}
#general{
	background-color: rgba(80, 80, 80, 0.6);
	display: inline-block;
	width: 100%;
	padding-left: 20px;
	margin-top: 40px;	
	border-radius: 0px 40px 40px 0px;
	position: relative;
    z-index:4;

}
#navigation{
	background-color: rgba(80, 80, 80, 0.6);
	display: block;
	padding-left: 20px;	
	display: inline-block;
	width: 100%;
	margin-top: 40px;
	border-radius: 0px 40px 40px 0px;
	position: relative;
    z-index:4;
}

#systeme{
	background-color: rgba(80, 80, 80, 0.6);
	display: block;
	padding-left: 20px;
	display: inline-block;
	width: 100%;
	margin-top: 40px;
	border-radius: 0px 40px 40px 0px;
	position: relative;
    z-index:4;
}

/* Bouton personnalisé */

.bouton_ok{
	text-align: center;
	width: 40px;
	height: 40px;
	border-radius: 50px 50px 50px 50px;
	color: orange;
	background: white;
	font-weight: bold;
	position: relative;
    z-index:4;

}

.bouton_ok:hover{
	color: orange; 
	background: white; 
	position: relative;
    z-index:4;


}

.bouton_ok:active{
	color: orange;
	background: white; 
	box-shadow: 1px 1px 10px orange inset, 0 1px 0 orange;
	position: relative;
    z-index:4;
}

.bouton{
	text-align: center;
	width: 180px;
	height: 25px;
	border-radius: 5px 5px 5px 5px;
	color: orange;
	background: white;
	font-weight: bold;
	position: relative;
    z-index:4;
}

.bouton:hover{
	color: orange; 
	background: white; 
	position: relative;
    z-index:4;	
}

.bouton:active{
	color: orange;
	background: white; 
	box-shadow: 1px 1px 10px orange inset, 0 1px 0 orange;
	position: relative;
    z-index:4;
}